<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<h2 class="text-color">お知らせ</h2>
<ul　list-style:none;>
  <% @notifications.each do |notification| %>
  <hr>
    <li　list-style:none;>
      <span><%= read_or(notification.read) %></span>
      <p>
        <%= notification.comment.user.try(:name) %>さんが
        あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
      </p>
      <p><%= posted_time(notification.created_at) %></p>
    </li>
  <% end %>
</ul>


</div>
</div>
